@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{
    background-color: black;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}

main {
    width: 500px;
    height: 800px;
    margin: 2% 30%;
    background-color: azure;
}
aside{
    position: absolute;
    top: 10%;
    right: 10%;
    background-color: white;
    height: 300px;
    width: 210px;
    font-size: 20px;
}
div h3{
    text-align: center;
}
.commande{text-align: center;}
.form{
    display: flex;
    flex-direction: column;
    text-align: center;
    border: none;

}
.form div{
    display: flex;
    border: none;
}
img{
    width: 105px;
    height: 80px;
}
#tetris {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    background-color: rgba(245, 245, 245, 0.900);
    border: 1px solid black;
}
div div{
    box-sizing: border-box;
    border: 1px solid rgba(87, 87, 87, .1);
}
.cyan {
    background-color: rgb(3, 175, 175);
}
.yellow{
    background-color: rgb(240, 240, 4);
}
.purple{
    background-color: purple;
}
.orange{
    background-color: orange;
}
.blue{
    background-color: blue;
}
.red{
    background-color: red;
}
.green{
    background-color: green;
}

.removed{
    background-color: grey;
    animation: remove .30s linear;
}
@keyframes remove {
    to{
        transform: scale(0);
    }
}
